{% extends 'base.html.twig' %}

{% block body %}
    {% for article in articles %}
        <div class="article">
            <p>Titre: {{ article.title }}</p>
            <p>Content: {{article.content }}</p>
            <p>Created at: {{article.createdAt.date }}</p>
        </div>
    {% endfor %}
{% endblock %}